* {
  margin: 0;
}

.tabs {
  width: 1170px;
  margin: 100px auto;
  height: 544px;
}
.inset {
  display: flex;
}

.tab-title {
  border: 1px solid #c6cbcd;
  border-bottom: none;
  height: 40px;
  text-decoration: none;
  width: 203px;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: #333333;
  border-left: 1px solid #c6cbcd;
  border-top: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
  border-radius: 5px 5px 0px 0px;
}
.content_1,
.content_2,
.content_3 {
  border: 1px solid #c6cbcd;
}
.box {
  padding-left: 100px;
  display: flex;
  height: 501px;
}
.text_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  height: 124px;
  color: #000000;
  line-height: 124px;
  padding-bottom: 27px;
}
.text_subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  align-items: center;
  height: 210px;
  width: 570px;
  color: #000000;
}
.tabs button {
  margin-top: 27px;
  height: 58px;
  width: 270px;
  border: none;
  background: #ec7979;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
.box_img {
  width: 100%;
  height: 100%;
  margin-left: 28px;
}
.tabs input {
  display: none;
}
.content_1,
.content_2,
.content_3 {
  display: none;
}
#tab_1:checked ~ .content_1,
#tab_2:checked ~ .content_2,
#tab_3:checked ~ .content_3 {
  display: block;
}
